
:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
:root { font-family: 'Inter var', sans-serif; }
}

#connectlinks {
	margin-top: 3vh;

	display: flex;
	text-align: center;
	justify-content: right;
	width:100%;

	font-family: 'Inter';
	font-style: bold;
	font-weight: 500;
	font-size: 18px;
	line-height: 3em;

}

#connectlinks a {
	color: #283136;
	text-decoration: none;
}


.flex-container0 {
	margin-top: 10vh;
	display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align:center;
  width:100%;

}

.wave {
	width: 2em;
	font-size: 56px;
	line-height: 3em;

	transform: rotate(5deg);
	transition: 0.5s;

}

.wave:hover {
	transition: 0.5s;
	transform: rotate(50deg);
}

h1 {
	
	font-family: 'Inter';
	font-style: bold;
	font-weight: 700;
	font-size: 60px;
	line-height: 3em;

	color: #6EB1C7;
	transition: 1s;

}

.title:hover {
	animation-duration: 5s;
  animation-name: colorchange;
  animation-iteration-count: infinite;
  transition: 1s;
}

@keyframes colorchange {
  from {
    color: #6EB1C7;
  }

  25% {
    color: #DCB04F;
  }

  50% {
    color: #DA7DBB;
  }

  75% {
    color: #8BB8E8;
  }
	
  to {
  	color: #6EB1C7;
  }
}

.keywords:hover {
	line-height: 39px;
}

#design {
	color: #DA7DBB;
	font-weight: 600;
}

#tech {
	color: #DCB04F;
	font-weight: 600;
}

#data {
	color: #7B9F78;
	font-weight: 600;
}


h2 {
	height: 5em;
	margin: 1em 4.2em 0em 4.2em;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 39px;
	text-align: center;

	color: #283136;
	transition: 0.1s;
}

.flex-container1 {
	display: flex;
  justify-content: space-around;
  align-items: center;

}

.coloredbox {
	position: relative;
	width: 280px;
	height: 280px;
	
	display: inline-flex;
	justify-content: space-around;
	align-items: center;

	border-radius: 45px;
	transition:0.5s;
}

.coloredbox:hover {
	width: 300px;
	height: 300px;
	transition:0.2s;
}


.flex-container2 {
	margin-top: 8vh;
	display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: space-around;
  	
}

.projects {
	width: 85vw;
	height: 85vh;
	margin: 3em;
	
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 45px;

	transition:0.5s;
}

h3 {
	font-family: 'Inter';
	font-style: bold;
	font-weight: 700;
	font-size: 45px;

	line-height: 1.4em;
	width: 8em;

	color: #3B3B3C;
}

.descript {
	flex: 1;
	align-items: center;

}

.text {
	font-family: 'Inter';
	font-weight: 500;
	font-size: 1.2em;

	line-height: 1.5em;
	width:26.5vw;
	margin-top: 7vh;
	text-align:left;

	color: #3B3B3C;
}

.display {
	flex: 1.5;
	align-items: center;
	justify-content: center;
	text-align: center;

}


footer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;

	width: 50em;
	height: 8em;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 19px;
	line-height: 2em;
	text-align: center;

	color: #283136;

}
