
:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
:root { font-family: 'Inter var', sans-serif; }
}

/*Mainpage*/
.flex-container0 {
	margin-top: 15vh;
	display: inline-flex;
  	align-items: center;
  	justify-content: center;
  	text-align:center;
  	width:100%;

}

.wave {
	width: 2em;
	font-size: 56px;
	line-height: 3em;

	transform: rotate(5deg);
	transition: 0.5s;

}

.wave:hover {
	transition: 0.5s;
	transform: rotate(50deg);
}

h1 {
	width: 12em;
	
	font-family: 'Inter';
	font-style: bold;
	font-weight: 700;
	font-size: 56px;
	line-height: 48px;

	color: #6EB1C7;
	transition: 1s;

}

.title:hover {
	animation-duration: 5s;
  	animation-name: colorchange;
  	animation-iteration-count: infinite;
  	transition: 1s;
}

@keyframes colorchange {
  from {
    color: #6EB1C7;
  }

  25% {
    color: #DCB04F;
  }

  50% {
    color: #DA7DBB;
  }

  75% {
    color: #8BB8E8;
  }
	
  to {
  	color: #6EB1C7;
  }
}

.keywords:hover {
	line-height: 39px;
	font-size: 32px;
	transition: 0.2s;
}

#design {
	color: #DA7DBB;
	font-weight: 600;
}

#tech {
	color: #DCB04F;
	font-weight: 600;
}

#data {
	color: #7B9F78;
	font-weight: 600;
}


h2 {
	position: relative;
	width: 40em;
	height: 5em;
	margin-top: 1em;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 39px;
	text-align: center;

	color: #415058;
	transition: 0.1s;
}

.flex-container1 {
	display: flex;
  	justify-content: space-around;
  	align-items: center;

}

.coloredbox {
	position: relative;
	width: 280px;
	height: 280px;
	
	display: inline-flex;
	justify-content: space-around;
	align-items: center;

	border-radius: 45px;
	transition:0.5s;
}

.coloredbox:hover {
	width: 300px;
	height: 300px;
	transition:0.2s;
}


.flex-container2 {
	display: flex;

}

